<!DOCTYPE html>
<html ng-app="ShopApp">
  <head>
    <meta charset="utf-8">
    <title>AngularJS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
  
    <div class="container" role="main" ng-controller="MyFirstCtrl">
      <div class="row">
            <div class="col-sm-12">
                <sorting-button value="price" text="Price" sort="sorting"></sorting-button>
                <sorting-button value="name" text="Name" sort="sorting"></sorting-button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </span>
                    <input type="text" class="form-control" ng-model="filtering">
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="list-group">
                <div class="list-group-item" ng-repeat="kafelek in kafeleks | filter:filtering | orderBy:sorting.by:sorting.desc">
                <div>
                    <p><b>{{ kafelek.name }}</b>
                      <span class="label label-info">{{ kafelek.price | currency }}</span>
                    </p>
                    <p><img src="{{ kafelek.product }}" /></p><br />
                    <span>{{kafelek.shortDescription }}</span>
                    <span ng-hide="!isShown">{{ kafelek.description }}</span>
                    <p><button class="btn btn-default" ng-click="isShown = !isShown">Show..</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>