<!DOCTYPE html>
<html ng-app class="ng-scope">
  <head>
    <meta charset="utf-8">
    <title>AngularJS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
  
    <div class="container" role="main" ng-controller="MyFirstCtrl">
     <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-xs btn-default" ng-click="sortBy('price')">
                    price
                </button>
                <button class="btn btn-xs btn-default" ng-click="sortBy('name')">
                    name
                </button>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="list-group">
                <div class="list-group-item" ng-repeat="kafelek in kafeleks | orderBy:sorting.by:sorting.desc">
                <div>
                    <p><b>{{ kafelek.name }}</b>
                      <span class="label label-info">{{ kafelek.price | currency }}</span>
                    </p>
                    <p><img src="{{ kafelek.product }}" /></p><br />
                    <span>{{kafelek.shortDescription }}</span>
                    <span ng-hide="!isShown">{{ kafelek.description }}</span>
                    <p><button ng-click="isShown = !isShown">Show..</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
       <!-- <pre>{{ kafelek | json }}</pre>-->
        <!--<pre>{{sorting | json}}</pre>-->
    </div>
    <script src="main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
  </body>
</html>