<div>
    <p>
        <span class="label label-info">{{ kafelek.price | currency }}</span>
        <b>{{ kafelek.name }}</b>
    </p>
    <p>
        <img src="{{ kafelek.product }}" />
        <span><input type="checkbox" ng-model="kafelek.buy">I buy!</span>
    </p>
    <p>
        <span>{{ kafelek.shortDescription }}</span>
        <span ng-hide="!isShown">{{kafelek.description}}</span>
    </p>
    <p>
        <span><button class="btn btn-default" ng-click="isShown = !isShown">Show..</button> </span>
    </p>
    
</div>